.sidebar{
    position: fixed;
    left: 0;
   bottom: 0;
   width: 72px;
   top: 55px;
    background-color: white;
   
   
    
    
}
.sidebar-link{
    display: flex;
   height: 88px;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 
   
}
.sidebar-link:hover{
    background-color: rgb(243, 240, 240);
}
.sidebar-link img{
    height: 24px;
   
}
.sidebar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;
}
